---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Body2 from '../components/body2.astro';
import Footer from '../components/footer.astro';
---

<Layout title="ABOUT">

	<header>

		<Header/>
	</header>
	<body>
		<Body2/>
	</body>
	<footer>
		<Footer/>
	</footer>
	

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	

</style>
