---

---

<div class="mt-40 ml-64  mr-64 bg-[#997C5A] flex flex-row gap-2 shadow-custom rounded-2xl">

    <picture>
        <img class="h-[450px] w-[450px] rounded-2xl" src="fondo_primer_card.jpg" alt="">

    </picture>

    <section class=" w-[55%] flex items-center flex-col justify-center">
        <div class=" flex justify-center mb-5">
            <h1 class="text-white text-2xl">PANADERIA PAN DE VIDA</h1>
        </div>

        <div class=" w-[80%]  flex justify-center items-center">
            <p class="text-white text-lg">
                En Pan de Vida, nos dedicamos a la creación de los más deliciosos panes y productos de repostería, hechos con amor y dedicación para brindarte una experiencia única y memorable. Nuestra panadería es más que un lugar donde se hornea pan; es un espacio donde se cultiva la tradición, la calidad y el sabor inigualable.
            </p>
        </div>
        

    </section>


</div>