<div class="mt-40 ml-64  mr-64 bg-[#997C5A] flex flex-row gap-2 shadow-custom rounded-2xl">

    <picture>
        <img class="h-[450px] w-[450px] rounded-2xl" src="pansito5.jpg" alt="">

    </picture>

    <section class=" w-[55%] flex items-center flex-col justify-center">
        <div class=" flex justify-center mb-5">
            <h1 class="text-white text-2xl">PEDIDOS PÉRSONALIZADOS</h1>
        </div>

        <div class=" w-[80%]  flex justify-center items-center">
            <p class="text-white text-lg">
                Tartas Pasteles y panes por Encargo: Personaliza tartas y pasteles para cumpleaños, bodas y otras celebraciones especiales.
                 ofrece la posibilidad de encargar panes específicos con ingredientes y formas personalizados.
        </div>
        

    </section>


</div>

<div class="mt-20 ml-64  mr-64 bg-[#997C5A] flex flex-row gap-2 shadow-custom rounded-2xl">

    <section class=" w-[55%] flex items-center flex-col justify-center">
        <div class=" flex justify-center mb-5">
            <h1 class="text-white text-2xl">PROGRAMA DE FIDELIZACION</h1>
        </div>

        <div class=" w-[80%]  flex justify-center items-center">
            <p class="text-white text-lg">
                Tarjetas de Puntos y descuento y promociones: Implementa un sistema de puntos o recompensas para clientes frecuentes, incentivándolos a regresar ofrecemos descuentos y promociones especiales para tus clientes leales.
        </div>
        

    </section>

    <picture>
        <img class="h-[450px] w-[450px] rounded-2xl" src="pansito6.jpg" alt="">

    </picture>

</div>

<div class="mt-20 ml-64  mr-64 bg-[#997C5A] flex flex-row gap-2 shadow-custom rounded-2xl">

    <picture>
        <img class="h-[450px] w-[450px] rounded-2xl" src="pansito7.jpg" alt="">

    </picture>

    <section class=" w-[55%] flex items-center flex-col justify-center">
        <div class=" flex justify-center mb-5">
            <h1 class="text-white text-2xl">VENTA DE PRODUCTOS COMPLEMENTARIOS</h1>
        </div>

        <div class=" w-[80%]  flex justify-center items-center">
            <p class="text-white text-lg">
                Vende productos complementarios como mermeladas artesanales, mantequillas especiales, quesos, y aceites.
        </div>
        

    </section>


</div>

<style>
    
</style>