<div class="mt-40 ml-64  mr-64 bg-[#997C5A] flex flex-row gap-2 shadow-custom rounded-2xl">

    <picture>
        <img class="h-[450px] w-[450px] rounded-2xl" src="pansito.jpg" alt="">

    </picture>

    <section class=" w-[55%] flex items-center flex-col justify-center">
        <div class=" flex justify-center mb-5">
            <h1 class="text-white text-2xl">BIENVENIDOS A PAN DE VIDA</h1>
        </div>

        <div class=" w-[80%]  flex justify-center items-center">
            <p class="text-white text-lg">
                Nacimos con la pasión de ofrecer productos frescos y de alta calidad a nuestra comunidad. Cada día, seleccionamos los mejores ingredientes para elaborar una variedad de panes artesanales, pasteles, y dulces que deleitan los sentidos y alimentan el alma.
              
        </div>
        

    </section>


</div>

<div class="mt-20 ml-64  mr-64 bg-[#997C5A] flex flex-row gap-2 shadow-custom rounded-2xl">

    <section class=" w-[55%] flex items-center flex-col justify-center">
        <div class=" flex justify-center mb-5">
            <h1 class="text-white text-2xl">NUESTRA HISTORIA</h1>
        </div>

        <div class=" w-[80%]  flex justify-center items-center">
            <p class="text-white text-lg">
                Nacimos con la pasión de ofrecer productos frescos y de alta calidad a nuestra comunidad. Cada día, seleccionamos los mejores ingredientes para elaborar una variedad de panes artesanales, pasteles, y dulces que deleitan los sentidos y alimentan el alma.
        </div>
        

    </section>

    <picture>
        <img class="h-[450px] w-[450px] rounded-2xl" src="pansito2.jpg" alt="">

    </picture>

   


</div>

<div class="mt-20 ml-64  mr-64 bg-[#997C5A] flex flex-row gap-2 shadow-custom rounded-2xl">

    <picture>
        <img class="h-[450px] w-[450px] rounded-2xl" src="pansito3.jpg" alt="">

    </picture>

    <section class=" w-[55%] flex items-center flex-col justify-center">
        <div class=" flex justify-center mb-5">
            <h1 class="text-white text-2xl">NUESTRA MISION</h1>
        </div>

        <div class=" w-[80%]  flex justify-center items-center">
            <p class="text-white text-lg">
                En Pan de Vida, nuestra misión es llevar a tu mesa el sabor auténtico del pan hecho con amor. Nos comprometemos a mantener altos estándares de calidad, utilizando métodos tradicionales y recetas que han sido perfeccionadas a lo largo del tiempo.
        </div>
        

    </section>


</div>

<div class="mt-20 ml-64  mr-64 bg-[#997C5A] flex flex-row gap-2 shadow-custom rounded-2xl">

    <section class=" w-[55%] flex items-center flex-col justify-center">
        <div class=" flex justify-center mb-5">
            <h1 class="text-white text-2xl">VISITANOS</h1>
        </div>

        <div class=" w-[80%]  flex justify-center items-center">
            <p class="text-white text-lg">
                Te invitamos a visitar nuestra panadería y disfrutar de un ambiente acogedor, donde el aroma del pan recién horneado te dará la bienvenida. En Pan de Vida, siempre hay algo delicioso esperando por ti.        </div>
        

    </section>

    <picture>
        <img class="h-[450px] w-[450px] rounded-2xl" src="pansito4.jpg" alt="">

    </picture>

   


</div>