---


---

<div class="h-28 bg-[#997C5A] flex items-center pl-4 gap-1">


    <div class="flex flex-row justify-start items-center w-[49%] gap-5">
        <picture class="border-2 rounded-3xl flex justify-center items-center shadow-custom">
            <img class="h-[5.5rem] w-[5.5rem]  rounded-3xl" src="pan.jpeg" alt="">

        </picture>

        <h1 class="text-white text-2xl">
            PANADERIA PAN DE VIDA
        </h1>
    
       

    </div>

   

    <div class="w-[49%] flex gap-5 items-center justify-end">
        
            <a class="text-white hover:text-slate-300 transition-transform transform hover:-translate-y-1.5" href="/">Inicio</a>
            <a class="text-white hover:text-slate-300 transition-transform transform hover:-translate-y-1.5" href="/sobreN">Sobre nosotros</a>
            <a class="text-white hover:text-slate-300 transition-transform transform hover:-translate-y-1.5" href="servicios">Servicio</a>
        
    </div>

   

 

</div>